@property --myColor1 {
  syntax: "<color>";
  initial-value: #1aa5ff;
  inherits: false;
}
@property --myColor2 {
  syntax: "<color>";
  initial-value: #1a72ff;
  inherits: false;
}
.toggle-container {
  width: 350px;

  padding: 4px;
  margin: auto;

  border-radius: 50px;
}

.toggler {
  width: 100px;
  height: 40px;
  padding-top: 8px;
  padding-bottom: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 30px;
  cursor: pointer;
  font-weight: 700;
  color: #5b6e80;
}

.selected {
  --myColor2: #1aa5ff;
  --myColor1: #1a72ff;
  background: linear-gradient(90deg, var(--myColor1), var(--myColor2));
  transition: --myColor1 0.3s, --myColor2 0.3s;
  color: white;
}

.skills-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.skills {
  width: 110px;
  height: 110px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 2px 5px black;
  border-radius: 5px;
}

.forThoseThatKnow {
  font-size: 24px;
  color: #5b6e80;
  margin-bottom: 20px;
  margin-top: 12px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.skillsAndToolsWords {
  text-align: center;
  margin-top: 25px;
  font-size: 36px;
  color: #00083d;
}

.skillsWrapper {
  border-top: 0.5px solid rgba(65, 62, 62, 0.11);
  /* margin-top: 10px; */
}

/* Skills Slider CSS */
/* Skills Slider CSS */

.radio-block {
  position: relative;
  display: flex;
  min-width: 420px;
  border-radius: 20px;
  background-color: #f7f5f3;
  margin-top: 10px;
}

.selected {
  position: absolute;
  top: 1px;
  left: 1px;
  width: calc(33.33% - 1px); /* Adjusted for three buttons */
  height: calc(100% - 2px);
  border-radius: 100px;
  transition: transform 0.2s;
  background-color: var(--blue);
}

label {
  position: relative;
  z-index: 100;
  width: 33.33%; /* Adjusted for three buttons */
  padding: 18px !important;
  transition: color 0.2s;
  text-align: center;
  cursor: pointer;
  font-weight: 700;
  color: rgba(65, 62, 62, 0.678);
}

input[type="radio"]:checked + label {
  color: #fff;
}

input[type="radio"]:nth-of-type(1):checked ~ .selected {
  transform: translateX(0%);
}

input[type="radio"]:nth-of-type(2):checked ~ .selected {
  transform: translateX(100%);
}

input[type="radio"]:nth-of-type(3):checked ~ .selected {
  transform: translateX(200%);
}

.cd__main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Montserrat";
  color: var(--blue);
  background-color: var(--blue) !important;
}

.sr-only,
input[type="radio"] {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  padding: 0 !important;
  overflow: hidden !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  border: 0 !important;
  clip-path: inset(50%) !important;
  white-space: nowrap !important;
}
