/* Modal content styling */
.modal-content {
  width: auto !important;
  height: 80vh !important;
  margin-top: 10vh !important;
  margin-bottom: 10vh !important;
  background-color: #ffffffef; /* Background color for the modal content */
  padding-bottom: 6vh !important; /* Padding inside the modal content */
  border-radius: 8px; /* Rounded corners for the modal content */
  position: relative; /* Position relative to allow positioning of child elements */
  display: flex; /* Use flexbox for layout */
  flex-direction: column; /* Arrange children in a column */
  justify-content: space-around; /* Space out children with space between */
}

/* Modal container styling */
.modal-container {
  width: 70vw; /* Width of the modal container (65% of viewport width) */
  height: 70vh; /* Height of the modal container (70% of viewport height) */
  display: flex; /* Use flexbox for layout */
  flex-direction: column; /* Arrange children in a column */
  justify-content: space-between; /* Space out children with space between */
}

/* Close button styling */
.close-button {
  position: absolute; /* Position the button absolutely within the modal content */
  top: 10px; /* Position 10px from the top */
  right: 10px; /* Position 10px from the right */
  background: linear-gradient(
    90deg,
    var(--myColor1),
    var(--myColor2)
  ); /* Gradient background */
  border: none; /* Remove default border */
  color: white; /* White text color */
  font-size: 1.5rem; /* Large font size */
  padding: 5px 10px; /* Padding inside the button */
  border-radius: 5px; /* Rounded corners for the button */
  cursor: pointer; /* Pointer cursor on hover */
}

.close-button:hover {
  background: linear-gradient(
    90deg,
    var(--myColor2),
    var(--myColor1)
  ); /* Gradient background on hover */
}

/* Video placeholder styling */
.video-placeholder {
  width: 100%; /* Full width of the container */
  max-height: 570px;
  flex: 1; /* Allow the video to take up remaining space */
  margin-top: 10px; /* Margin at the top */
  background: #000; /* Black background */
  position: relative; /* Position relative to allow positioning of child elements */
}

/* Video controls styling */
.video-controls {
  position: absolute; /* Position controls absolutely within the video placeholder */
  bottom: 10px; /* Position 10px from the bottom */
  left: 10px; /* Position 10px from the left */
  right: 10px; /* Position 10px from the right */
  display: flex; /* Use flexbox for layout */
  align-items: center; /* Align items vertically centered */
  justify-content: space-between; /* Space out children with space between */
}

/* Play/pause button styling */
.play-pause-button {
  background: #fff; /* White background */
  border: none; /* Remove default border */
  padding: 10px; /* Padding inside the button */
  border-radius: 5px; /* Rounded corners for the button */
  cursor: pointer; /* Pointer cursor on hover */
}

/* Progress bar styling */
.progress-bar {
  flex-grow: 1; /* Allow the progress bar to grow and fill available space */
  margin: 0 10px; /* Margin on the left and right */
}

/* Time display styling */
.time-display {
  color: #fff; /* White text color */
}

/* Button group styling */
.button-group {
  display: flex; /* Use flexbox for layout */
  justify-content: center; /* Center the buttons horizontally */
  gap: 20px; /* Space between the buttons */
  margin-top: 20px; /* Margin at the top */
  padding-bottom: 20px; /* Add padding to prevent overflow */
}

/* Action button styling */
.action-button {
  background: linear-gradient(
    90deg,
    var(--myColor1),
    var(--myColor2)
  ); /* Gradient background */
  border: none; /* Remove default border */
  color: white; /* White text color */
  padding: 10px 20px; /* Padding inside the button */
  border-radius: 5px; /* Rounded corners for the button */
  cursor: pointer; /* Pointer cursor on hover */
  font-size: 1rem; /* Font size */
  flex-shrink: 0; /* Prevent the button from shrinking */
}

.action-button:hover {
  background: linear-gradient(
    90deg,
    var(--myColor2),
    var(--myColor1)
  ); /* Gradient background on hover */
}
@media screen and (min-device-width: 1001px) and (max-device-width: 1025px) {
  .video-placeholder {
    max-height: 35vh;
  }
  .modal-content {
    height: 35vh !important;
    margin-bottom: 35vh !important;
    padding-bottom: 620px !important;
  }
  .modal-container {
    width: 96vw;
  }
}
@media screen and (min-device-width: 751px) and (max-device-width: 1000px) {
  .video-placeholder {
    max-height: 35vh;
  }
  .modal-content {
    height: 35vh !important;
    margin-bottom: 20vh !important;
    padding-bottom: 560px !important;
  }
  .modal-container {
    width: 96vw;

    margin-bottom: 15vh !important;
  }
}
@media only screen and (max-width: 750px) {
  .video-placeholder {
    max-height: 40vh;
  }
  .modal-content {
    min-height: 60vh !important;
    padding-top: 5vh;
    margin-bottom: 10px !important;
  }
  .modal-container {
    width: 98vw;
  }

  .project-name-heading {
    font-size: 25px;
  }
}
