/* Import base styles */
@import url("../../../App.css");

/* Define custom properties for colors */
@property --myColor1 {
  syntax: "<color>";
  initial-value: #1aa5ff;
  inherits: false;
}
@property --myColor2 {
  syntax: "<color>";
  initial-value: #1a72ff;
  inherits: false;
}

/* Navbar styling */
.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.04), 0 -1px 0 0 rgba(0, 0, 0, 0.08);
  position: relative;
  z-index: 2;
  background-color: var(--background-color);
}

/* Navigation links for larger screens */
.navLinks {
  font-size: 21px;
  color: #5b6e80;
  display: flex;
  gap: 40px;
  text-decoration: none;
}

/* Navigation items styling */
.navItems {
  text-decoration: none;
  color: #5b6e80;
  font-weight: 600;
}

/* Switch styling */
.switch {
  transform: scale(1.2);
  padding-left: 10px;
}

.side-nav-container {
  display: flex;
  gap: 30px;
  align-items: center;
}

/* Hamburger icon for mobile view */
.hamburger-icon {
  display: none;
}

/* Hamburger menu styling */
.hamburger-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: white;
  transform: translateY(-100%);
  transition: transform 0.5s ease-in-out;
  z-index: 1;
}

.hamburger-menu.show {
  transform: translateY(0);
}

/* Styling for the button inside the hamburger menu */
.viewWorkButton {
  width: 167.61px;
  height: 51.98px;
  padding: 0px 15px;
  border-radius: 30px;
  border: none;
  color: white;
  font-size: 18px;
  font-family: sofia-pro, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  font-optical-sizing: auto;
  font-weight: 700;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.26);
  background: linear-gradient(90deg, var(--myColor1), var(--myColor2));
  transition: --myColor1 0.3s, --myColor2 0.3s;
  cursor: pointer;
}

.viewWorkButton:hover {
  --myColor2: #1aa5ff;
  --myColor1: #1a72ff;
}

/* Pulsating dot in the nav footer */
.pulse {
  background-color: #0062ff;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 3px;
  margin-left: 6px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-clip: padding-box;
  box-shadow: 0 0 0 rgba(0, 98, 255, 0.4);
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 98, 255, 0.4);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(0, 98, 255, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(0, 98, 255, 0);
  }
}

/* Nav footer styling */
.nav-footer {
  height: 80px;
  background-color: rgb(221, 221, 221);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-right: 20px;
}

/* Animation for navigation items */
.fadeIn {
  opacity: 0;
  animation: fadeIn 0.5s ease-in-out forwards;
}

.fadeIn:nth-child(1) {
  animation-delay: 0.2s;
}

.fadeIn:nth-child(2) {
  animation-delay: 0.4s;
}

.fadeIn:nth-child(3) {
  animation-delay: 0.6s;
}

.fadeIn:nth-child(4) {
  animation-delay: 0.8s;
}

/* Keyframes for fading in elements */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Media queries for mobile screens */
@media screen and (max-width: 450px) {
  .hamburger-icon {
    display: block;
    width: 30px;
  }

  .side-nav-container {
    display: none;
  }

  .navLinks-responsive {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin-top: 100px; /* Ensure links are not hidden under the nav bar */
  }

  .navItems {
    font-size: 22px;
  }

  .switch {
    margin-top: 18px;
    text-align: center;
    padding-left: 0px;
  }

  .hamburger-menu {
    height: 90vh; /* Adjusted height to keep footer visible */
  }

  .nav-footer {
    height: 10vh; /* Ensure footer takes the remaining space */
  }
}
